@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-serif: "Playfair Display", serif;
}

body {
    font-family: var(--font-sans);
}